@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}

/* shared styles */
.display-flex {
  display: flex;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-links {
  text-decoration: none;
}

.navBar {
  /* display: flex; */
  max-width: 1000px;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.brand {
  font-size: 3rem;
  font-weight: 700;
}

.header {
  max-width: 1350px;
  height: auto;
  background: rgba(255, 144, 14, 0.1);
}

.banner_container,
.navBar {
  max-width: 1000px;
  margin: 0 auto;
}

.banner_container {
  margin-top: 100px;
}

.banner_content {
  max-width: 640px;
  margin: 0 auto;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;
}
.btn_primary {
  max-width: 150px;
  border-radius: 8px;
  padding: 10px 20px;
  color: white;

  background: rgb(255, 144, 14);
  border: none;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}

.banner_title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 20px;
  /* line-height: 60px; */
}
.banner_image {
  max-width: 100%;
  margin: 0 auto;
}

/* teams styles */

.main {
  max-width: 1000px;
  margin: 0 auto;
}

.teams_container {
  margin-top: 100px;
}

.features_container {
  margin-left: 50px;
}

.features_title {
  font-size: 2.8rem;
  font-weight: 700;
}

#quick_list {
  color: rgb(114, 114, 114);
}
#features {
  color: rgb(255, 144, 14);
}

.teams_image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}




@media screen and (max-width: 576px) {
  .banner_image {
    max-width: 100%;
    margin: 0 auto;
  }
  .banner_container {
    margin: 0 auto;
  }
  .banner_content,
  .navBar,
  .nav-links {
    flex-direction: column;
  }
  .teams_container{
    flex-direction: column;
  }
  .teams_image{
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
  }
}
